---
// Import header and footer to each page making it easier for the user to navigate between each page.
import Mainlayout from "../../layouts/secondary-header.astro";

// Sets the company name.
let companyname = 'Whispering Woods';

import ViewTransitions from "astro/components/ViewTransitions.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- ! META TAGS. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ! TAB TITLE. -->
        <title>{companyname} - Employment Opportunities</title>

        <ViewTransitions />

        <!-- ! GOOGLE TAG MANAGER FOR SPROUT MARKETING. DON'T EDIT! -->
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-7D8R29D991"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-7D8R29D991');
        </script>

        <!-- ! TAG ICONS. -->
        <link rel="icon" href="/images/logos/CroppedLogo2Black.png" media="(prefers-color-scheme: light)">
        <link rel="icon" href="/images/logos/CroppedLogo2.png" media="(prefers-color-scheme: dark)">

    </head>
    <style>
        /* Import Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto+Condensed:wght@400;600&display=swap');

        /* Apply styles to all headings (h1, h2, h3, h4, h5, h6) */
        h1, h2, h3 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 56pt; /* 75pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h4, h5 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 28pt; /* 36pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h6 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 18pt; /* 36pt */
            color: green;
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        /* Apply styles to all paragraphs */
        p, ul, span, a {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400; /* Regular weight */
            font-size: 14pt; /* 14pt */
        }

        /* Determines if the logo in the tab of each page is black or white. */
        body {
            background-color: white; /* Light mode background */
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: black; /* Dark mode background */
            }
        }
        a {
            text-decoration: none;
            color: black;
        }
        button {
            border: 1px solid black;
        }
    
    </style>
    <body>
        
        <!-- ! IMPORTS THE MAIN LAYOUT FROM "../LAYOUTS/SECONDARY-LAYOUT.ASTRO". -->
        <Mainlayout>
        
            <div class="container">

                <br>
                
                <h4><b>Employment Opportunities:</b></h4>
                <hr>

                <div class="row">
                    <div class="col">

                        <h6>Join Our Team:</h6>
                        <!-- TODO: NEEDS TO BE SHORTER -->
                        <p>We think you would be a great fit for our team at {companyname}. {companyname} is an attractive 18-hole golf
                            course located in Council Bluffs, Iowa. Our facility offers various amenities and services for golfers of 
                            all skill levels. As spring approaches, we are preparing to open our doors and welcome golfers from the metro.
                            We take pride in our well-maintained course, modern equipment, and friendly staff who are committed to providing 
                            exceptional service. Besides the golf course, we also have other departments that operate during the spring, 
                            summer, and fall seasons, including our outside, snack bar, and pro shop staff. Each department plays a vital 
                            role in ensuring our guests have an unforgettable experience. We value teamwork, professionalism, and a passion 
                            for delivering excellent hospitality. Joining our team would not only provide you with a rewarding career opportunity 
                            but also a chance to be part of a vibrant and thriving golf community. We are excited about the upcoming season 
                            and look forward to the possibility of having you join us at {companyname}.</p>
                        </div>
                        <!-- TODO: POSSIBLY ADD A PICTURE OF MOLLY OR ADDIE. -->
                </div>
                

                <br>

                <h6><b>{companyname} Perks:</b></h6>
                <ul>
                    <li>Fun Environment</li>
                    <li>Networking Opportunities</li>
                    <li>Free Golf</li>
                </ul>

                <br>

                <h6><b>Apply to work with us!</b></h6>
                <p>If you are interested in working with us, we would highly appreciate it if you could take a moment to stop inside the clubhouse
                    to fill out an application. Your interest and effort in submitting the application will be greatly valued and 
                    considered in our selection process. Thank you for considering this opportunity to work with us!</p>
                
                <!-- ! EMPLOYEMENT APPLICATION. -->
                <a href="/documents/Employment Application.pdf">
                    <button type="button" class="btn btn-light">
                        <i class="bi bi-download"></i> Download
                    </button>
                </a>
                
            </div>

            <br>

        </Mainlayout>
    
    </body>
</html>