---
// Import header and footer to each page making it easier for the user to navigate between each page.
import Mainlayout from "../../layouts/secondary-header.astro";

// Sets the company name.
let companyname = 'Whispering Woods';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Title in the tab bar. -->
        <title>{companyname} - Employment Opportunities</title>

        <!-- Icon image on the tab of each page. -->
        <link rel="icon" href="/images/logos/CroppedLogo2Black.png" media="(prefers-color-scheme: light)">
        <link rel="icon" href="/images/logos/CroppedLogo2.png" media="(prefers-color-scheme: dark)">

    </head>
    <style>
        /* Determines if the logo in the tab of each page is black or white. */
        body {
            background-color: white; /* Light mode background */
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: black; /* Dark mode background */
            }
        }
        a {
            text-decoration: none;
            color: black;
        }
        button {
            border: 1px solid black;
        }
    
    </style>
    <body>

        <!-- Import header and footer to each page making it easier for the user to navigate between each page. -->
        <!-- This is the secondary header which is used on all pages beside the index.astro page. -->
        <Mainlayout>
        
            <div class="container">

                <br>
                
                <h2><b>Employment Opportunities - Join Our Team!</b></h2>
                <hr>
                <p>We think you would be a great fit for our team at {companyname}. {companyname} is an attractive 18-hole golf
                    course located in Council Bluffs, Iowa. Our facility offers various amenities and services for golfers of 
                    all skill levels. As spring approaches, we are preparing to open our doors and welcome golfers from the metro.
                    We take pride in our well-maintained course, modern equipment, and friendly staff who are committed to providing 
                    exceptional service. Besides the golf course, we also have other departments that operate during the spring, 
                    summer, and fall seasons, including our outside, restaurant, and pro shop staff. Each department plays a vital 
                    role in ensuring our guests have an unforgettable experience. We value teamwork, professionalism, and a passion 
                    for delivering excellent hospitality. Joining our team would not only provide you with a rewarding career opportunity 
                    but also a chance to be part of a vibrant and thriving golf community. We are excited about the upcoming season 
                    and look forward to the possibility of having you join us at {companyname}.</p>

                <br>

                <h4><b>{companyname} Perks:</b></h4>
                <hr>
                <ul>
                    <li>Fun Environment</li>
                    <li>Networking Opportunities</li>
                    <li>Free Golf</li>
                </ul>

                <br>

                <h4><b>Apply to work with us!</b></h4>
                <hr>
                <p>If you are interested in working with us, we would highly appreciate it if you could take a moment to stop inside the clubhouse
                    to fill out an application. Your interest and effort in submitting the application will be greatly valued and 
                    considered in our selection process. Thank you for considering this opportunity to work with us!</p>

                <br>
                
                <!-- TODO: Import and application form so customers/users can download/print out the application. -->
                <!-- <a href="/documents/Employment Application.pdf">
                    <button type="button" class="btn btn-light">
                        <i class="bi bi-download"></i> Download
                    </button>
                </a> -->
                
            </div>

        </Mainlayout>
    
    </body>
</html>